body {
  background-color: #ffffff;
  font-family: 'Open Sans', sans-serif;
  text-align: left;
}

* {
  box-sizing: border-box;
}

label1 {
  color: white;  
  background-color: #ff4da6;
  padding: 6px;
  border-radius: 12px;
}

.test {
  position: relative;
  float: left;
  margin: 30px 0 0 130px;  
  display: inline-block;
  width: 166px;
  height: 45px;
  font-size: 14px;
  line-height: 45px;
  text-align: center;
  text-transform: uppercase;
  color: #000;
  cursor: pointer;
  overflow: hidden;
}

.test svg {
  position: absolute;
  top: 0;
  left: 0;
}

.test svg rect {
  stroke: #000;
  stroke-width: 6;
  stroke-dasharray: 422, 0;
  stroke-dashoffset: 0;
  -webkit-transition: all 900ms cubic-bezier(0.19, 1, 0.22, 1);
  -moz-transition: all 900ms cubic-bezier(0.19, 1, 0.22, 1);
  transition: all 900ms cubic-bezier(0.19, 1, 0.22, 1);
}

.test:hover svg rect {
  stroke-width: 10;
  stroke-dasharray: 110, 312;
  stroke-dashoffset: 183;
}
